@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --primary-color: 187, 221, 225;
    --secondary-color: 191, 227, 204;
    --tertiary-color: 3, 3, 24;
    --quaternary-color: 250, 250, 250;
    --quinary-color: 255, 255, 255;
  }
} */

body {
  font-family: "Kode Mono", monospace;
}

body {
  @apply bg-blue-950 text-gray-300;
}

h1,
h2,
h3,
h4 {
  @apply font-bold text-center text-[#FCF7F8];
}

.myButtons {
  @apply px-3 py-1 border-t border-l last-of-type:border-r border-white/50 rounded-t-md backdrop-blur-sm hover:text-[#FCF7F8] hover:bg-white/50 uppercase;
}

@layer components {
  .shine {
    animation: shine .5s linear;
    animation-iteration-count: 2;
  }
}

@keyframes shine {
  0% {
    top: -10px;
    left: -60px;
  }

  100% {
    top: 50px;
    left: 50px;
  }
}