@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: 252 247 248;
    --secondary-color: 206 211 220;
    --border: 255 255 255;
    --shadow: 255 255 255;
    --quinary-color: 255 255 255;
  }
}

body {
  font-family: "Kode Mono", monospace;
}

body {
  @apply bg-blue-950 text-secondary;
}

h1,
h2,
h3,
h4 {
  @apply font-bold text-center text-primary;
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-2xl
}

h3, h4 {
  @apply text-xl
}

@layer components {
  .shine {
    animation: shine .5s linear;
    animation-iteration-count: 2;
  }
}

@keyframes shine {
  0% {
    top: -10px;
    left: -60px;
  }

  100% {
    top: 50px;
    left: 50px;
  }
}

::-webkit-scrollbar {
  @apply bg-transparent w-2
}

::-webkit-scrollbar-thumb  {
  @apply bg-borderColor hover:bg-white/60 rounded-full
}